@import './scss/base/reset.scss';

.bg-grey
{
    background-color:#f5f7fc;
    // background-color: rgb(249, 248, 248);
}
 .bg-light
 {
    background-color: #ffffff !important;
 }
.bg-white
{
    background-color: white;
}

.border-none
{
    border: none !important;
}