.loader_container
{
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: white;
    .loader_item
    {
        width: 8rem;
        height: 8rem;
        border-radius:50% ;
        border-top: 0.4rem dotted green;
        border-bottom: 0.4rem dotted green;
        border-left: 0.4rem dotted green ;
        border-right: 0.4 solid transparent;
        animation: loader 1.5s linear;
        animation-iteration-count: infinite;

        @keyframes loader {
            100%
            {
                transform: rotate(360deg);
            }
        }
    }
}