.pagination {
    display: flex;
    margin: 1rem 0; 

    .active
    {
        background: green;
        color: white;
        a{
            color: white;
        }
    }
   
    li {
        list-style-type: none;
        padding:  0.9rem;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        border: 2px solid green;
        margin: 0.6rem;

        a {
                text-decoration: none;
                color: green;
                font-size: 1.3rem;
                cursor: pointer;
        }

        &:hover
        {
            scale: 1.1;
            transition: all .2s ease-in-out;
        }
       
    }
   
}