.image_main
{
        display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        margin-top: 8rem;
        min-height: 62.5rem;
        // border: 2px solid black;

        .image_left
        {
            flex: 0.7;
            height: fit-content;
            background: white;
            margin: 10rem;
            padding: 1rem;
            box-shadow: 0px 10px 4rem 0.1px rgba(165, 148, 148, 0.251);

            h3{
                font-size:1.5rem;
            }

            .label
            {
                padding: 1rem;
                // background: ;
                // color: white;
                width: 100%;
                height: 2rem;
                display: block;
                margin: 1rem 0 0 0 ;
                font-size: 1.1rem;
                font-weight: bold;
                background: #c2c5ccb0;
            }
            .submit
            {
                display: block;
                padding: 1.2rem;
                width: 100%;
                height: auto;
                display: block;
                // margin: 0.2rem 0 0 0 ;
                color: white;
                outline: none;
                border: none;
                font-size: 1.1rem;
                font-weight: bold;
                background: green;

            }
            .hide
            {
                visibility:hidden ;
            }
        }

        .image_right
        {
            display: flex;
            align-items: center;
            flex:1.3;
            margin: 5rem;
            width: 50%;
            height: auto;
            
            
            img
            {
                box-shadow: 0px 10px 4rem 0.1px rgba(165, 148, 148, 0.251);
                width: 100%;
                height: auto;
            }
        }
}